<div class="container">
    <div class="row">
      <div class="col-lg-3">       
        <app-category></app-category>
      </div>
      <div class="col-lg-9">
        <app-slide></app-slide>
        <h3>Hướng dẫn đi du lịch Hà Nội - Hạ Long - Quan Lạn</h3>
<img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/101/075/articles/du-lich-ha-noi-ha-long-quan-lan.jpg?v=1585223887590" class="img-fluid" alt="Responsive image"><br/><br/>
<strong>- Điểm đến đầu tiên TP. Hạ Long:</strong>
Khu du lịch Bãi Cháy - TP. Hạ Long năm cách thủ đô Hà Nội khoảng 155km (Theo hướng dẫn chỉ đường Google). Được đầu tư xây dựng với tổng hợp các hình thức dịch vụ du lịch từ tham quan đến vui chơi, giải trí, nghỉ dưỡng. Chắc chắn đáp ứng được cả những du khách khó tính nhất. <br/><br/>
<img src="https://bizweb.dktcdn.net/100/101/075/files/du-lich-vinh-ha-long.jpg?v=1583513478887" class="img-fluid" alt="Responsive image"><br/><br/>
Bên cạnh các dịch vụ đẳng cấp nghỉ dưỡng, vui chơi, Hạ Long còn có một “kỳ quan thiên nhiên mới thế giới” được công nhận năm 2012. Vậy nên du lịch Hạ Long thu hút rất đông đảo du khách, không chỉ trong nước mà với cả du khách khách quốc tế.<br/><br/>

<strong> Điểm đến thứ hai đảo Quan Lạn:</strong>
Hòn đảo xinh đẹp Quan Lạn nằm trong địa phận vịnh Bái Tử Long xinh đẹp. Thuộc huyện Vân Đồn, Quảng Ninh, với hai khu du lịch chính là Minh Châu và Quan Lạn. Được mệnh danh sở hữu những bãi biển hoang sơ bậc nhất miền bắc, du lịch Quan Lạn sẽ là sự kết hợp hoàn hỏa cho một chuyến đi kết hợp giữa nghỉ dưỡng và khám phá trải nghiệm tại Quảng Ninh.
<img src="https://bizweb.dktcdn.net/100/101/075/files/du-li-ch-minh-chau-2019.jpg?v=1531480237600" class="img-fluid" alt="Responsive image"><br/><br/>
      </div>
    </div>
  </div>
