<div class="container">
    <div class="row">
      <div class="col-lg-3">       
        <app-category></app-category>
      </div>
      <div class="col-lg-9">
        <app-slide></app-slide>
       <h2>GIỚI THIỆU: CÔNG TY 2ND Travel</h2><br/><br/>  
       <h3>Quý Khách hàng thân mến!</h3><br/>

Lời đầu tiên,Tour Pro xin gửi tới Quý Khách hàng lời chào trân trọng cùng lời chúc sức khỏe và thành công.

Tour Pro là thành viên của Công ty Cổ phần CINVESTRA Việt Nam. Chúng tôi cung câp các gói dịch vụ du lịch trọn gói trong nước và quốc tế. Cung cấp các sản phẩm cho thuê xe du lịch, dịch vụ đặt vé máy bay…

Công ty Cổ phần CINVESTRA Việt Nam được thành lập năm 2012, bằng nỗ lực không ngừng sáng tạo và nâng cao năng lực trong các lĩnh vực dịch vụ, chăm sóc khách hàng và chất lượng sản phẩm: với mục tiêu trở thành nhà cung ứng các sản phẩm du lịch và dịch vụ hàng đầu Việt Nam.

Lấy khách hàng làm trọng tâm Tour Pro cam kết phấn đấu nhằm thõa mãn tối đa nhu cầu khách hàng. Lấy tín nhiệm của khách hàng làm mục đích để hoạt động. Chúng tôi cam kết cung cấp sản phẩm đúng chất lượng.
      </div>
    </div>
  </div>